{% extends 'base.html.twig' %}

{% block title %}Nowy produkt{% endblock %}

{% block body %}
<h1>Nowy produkt</h1>
<form method="POST">
    {% include 'partials/_product_form_fields.html.twig' %}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="/product" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}
