{% extends 'base.html.twig' %}

{% block title %}Admin - Edytuj produkt{% endblock %}

{% block body %}
<h1>Edytuj produkt: {{ product.name }}</h1>
<form method="POST">
    {% include 'partials/_product_form_fields.html.twig' %}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="/admin/products" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}
