{% extends 'base.html.twig' %}

{% block title %}Nowe zamówienie{% endblock %}

{% block body %}
<h1>Nowe zamówienie</h1>
<form method="POST">
    {% include 'partials/_order_form_fields.html.twig' %}
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="/order" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}
