{% extends 'base.html.twig' %}

{% block title %}Nowa kategoria{% endblock %}

{% block body %}
<h1>Nowa kategoria</h1>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Nazwa</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Opis</label>
        <textarea name="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a href="/category" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}
